################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorldCities/WorldCities/obj/Debug
/.vs
/WorldCities/.vs
/WorldCities/WorldCitiesAPI/bin/Debug/net6.0
/WorldCities/WorldCitiesAPI/obj
/WorldCities/WorldCitiesAPI.Tests/bin/Debug/net6.0
/WorldCities/WorldCitiesAPI.Tests/obj
